
// varibales import
@import "variables.scss";


// produkt side stylings
@import "udvalg.scss";
@import "produkt-side.scss";


// andre sider sider stylings
@import "historie.scss";
@import "om-os.scss";
@import "footer.scss";


*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: $primary-background;
  font-family: 'Noto Sans HK', sans-serif;
  letter-spacing: 0.02em;
}
ul {
  list-style-type: none;
  padding: 0;
}
a{
 text-decoration: none;
 color: $primary-text;
}
p{
  margin-left: 0;
  margin-right: 0;
}
h2{
  font-size: 1.2em;
  text-align: center;
}
.amber{
  color: $amber;
}
.header-bottom-border{
  display: flex;
  margin: 0 auto 30px;
  width: 50px;
  border-bottom: 2px solid $amber;
}


/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
}
.top-info{
  margin: 0;
  background-color: #ededed;
  color: $secondary-text;
  text-align: center;
  display: block;
  width: 100%;
  // height: 5vh;
  // padding-top: 2px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  color: $primary-text;
}

/* Style navigation menu links */
.topnav a {
  text-decoration: none;
  display: block;
}


/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 9vh;
  background-color: white;
  margin-right: 25px;
}

/* Add a grey background color on mouse-over */
#myLinks a:hover {
  border: none;
}
#myLinks a{
  color: $primary-text;
  padding: 15px 20px;
}
#myLinks a:last-child{
  padding-bottom: 30px;
}

/* Style the active link (or home/logo) */
.nav-section {
  display: flex;
  flex-direction: column;
}
.active{
  height: 10vh;
  margin: 0 auto;
}
.active img{
  height: 10vh;
  display: flex;
  margin: 0 auto;
}

.fa-bars{
  color: $amber;
  vertical-align: middle;
  transform: scale(1.4)
}
.shopping-cart{
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-left: 15px;
  left: 0;
  top: 9vh;
  background-color: $primary-background;
}.shopping-cart img{
  height: 25px;
  width: 25px;
}.shopping-cart span{
  margin: auto 2px;
}


/* header section - landing page */
.header-section{
  height: 85vh;
  background-image: url("../images/wineyard.jpg");
  background-size: 300%;
  background-repeat: no-repeat;
  background-position: center;
}

.header-section div{
  font-family: 'Baloo Chettan 2', cursive;
  padding-top: 30vh;
  font-size: 1.1em;
  color: $primary-background;
  padding-left: 20px;
}
.header-section div h1{
  text-align: left;
}
.header-section div h2{
  font-size: .8em;
  text-align: left;
  margin-bottom: 3vh;
}
.header-section div p{
  font-size: .6em;
}
.header-section div a{
  color: $primary-background;
  text-align: center;
  font-size: .6em;
  width: 3rem;
  border: 1px solid $primary-background;
  padding: 5px 40px;
  border-radius: 3px;
}.header-section div a:hover{
  background-color: $button-hover-2;
}


/* Top pick section */
.top-pick-section{
  display: flex;
  flex-direction: column;
}

.favoritter-header{
  margin: 3vh auto 2vh;
}

.top-picks{
  display: grid;
  grid-gap: .7rem;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

  width: 95%;
  margin: 0 auto;
}
// styling for alle top picks
.top-picks section{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: .7em
}
.top-picks section img{
  height: 80px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 20px 25px -15px rgba(0,0,0,0.5);
}
.top-picks section h4{
  margin-bottom: .6em;
}
.top-picks section p{
  margin-top: 0;
  margin-bottom: .3em;
}
.top-picks section h5{
  margin: auto 0 0 0;
  font-size: 1.1em;
}
.top-picks section h5 span{
  text-decoration: line-through;
  margin-left: 5px;
  color: $secondary-text;

}
.top-picks section a{
  text-align: center;
  font-size: .8em;
  width: 5rem;
  border: 1px solid black;
  padding: 1px;
  color: black;
  margin: 10px auto;
  border-radius: 3px;
}.top-picks section a:hover{
  background-color: $button-hover;
}
// styling for hvert enkelt top pick
.top-pick-1{


}
.top-pick-2{


}
.top-pick-3{


}
.top-pick-4{


}
/* show more wines button */
.flere-vine{
  text-align: center;
  font-size: .7em;
  width: 40%;
  border: 1px solid black;
  padding: 5px;
  color: black;
  margin: 5vh auto 5vh;
  border-radius: 3px;
}.flere-vine:hover{
  background-color: $button-hover;
}




// hvad er orangevin?
.hvad-er-orangevin{
  display: flex;
  flex-direction: column;
}
.hvad-er-orangevin section{
  margin: 10vh auto 3vh;
  padding: 5px;
  max-width: 800px;
}





/* INSPIRATION section */
.inspiration-header{
 margin: 7vh auto 2vh;
}

.inspiration{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto 50px;
  max-width: 1000px;
}

.inspiration a div{
  min-width: 300px;
  height: 250px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  border-radius: 5px;
}.inspiration a div h3{
  font-size: 1.8em;
  line-height: 1;
  font-family: $primary-header;
  color: $primary-background;
  margin: auto 5px 5px;
}


.inspiration-3{
  background-image: url("../images/inspiration/sådan-drikker-man-orangevin.png");
}
.inspiration-2{
  background-image: url("../images/inspiration/stig-thorsteinsson.png");
}
.inspiration-1{
  background-image: url("../images/inspiration/valg-af-orangevin.png");
}

.find-orangevin{
  text-align: center;
  font-size: .7em;
  width: 300px;
  border: 1px solid black;
  display: flex;
  flex-flow: column;
  padding: 5px;
  color: black;
  margin: 0 auto 10vh;
  border-radius: 3px;
}
.find-orangevin:hover{
  background-color: $button-hover;
}



// Instagram feed:





/* FOOTER SECTION XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
footer{
  margin-top: 5vh;
  padding-top: 1rem;
  background-color: $secondary-background;
  text-align: center;
}
.footer h2{
  margin: .83em 0;
}
.footer-header img{
  height: 100px;
  margin-left: -20px;
}
.footer-nav{
  font-size: .7em;
  letter-spacing: 2px;
  display: flex;
}
.footer-nav ul{
  margin: 0 auto;
  width: 80%;
}
.footer-nav ul li:first-child{
  margin-top: .5rem;
}
.footer-nav ul li{
  margin: 0;
  margin-bottom: 1.5rem;
  color: $primary-text;
}
.footer-nav ul li:last-child{
  padding-bottom: 1.5rem;
  border-bottom: 1px solid gray;
  margin-bottom: 1.5rem;
}

.footer-contact{
  display: flex;
  flex-direction: column;
}
.footer-contact-option{
  width: 60%;
  margin: 2rem auto;
}
.footer-contact-option img{
  width: 50px;
}
.footer-contact-option p{
  font-size: .7em;
  color: #696969;
}

.social-footer{
  background-color: $tertiary-background;
  color: $secondary-background;
  padding-top: 25px;
  padding-bottom: 20px;
}
.social-links svg{
  height: 40px;
  margin: 0 10px;
  fill: white;
  margin: 0 10px;
}


/* breakpoint for medium screens */
@media (min-width: 321px) {


  /*  */





}




/* breakpoint for larger screens */
@media (min-width: 768px) {



  /* Main styling */


  // Top info bar styling
  .top-info{
    height: 3vh;
  }
  /* resizing background image */
  .header-section{
    background-size: 220%;
    background-position: 50% 60%;
    // 85vh plus 2vh som er taget for "top info baren"
    height: 87vh;
  }
  .header-section div{
    font-size: 2em;
    padding-left: 60px;
  }


  .top-picks{
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1rem;
    width: 85%;
  }
  .flere-vine{
    width: 250px;
  }
  .top-picks section img{
    height: 110px;
  }
  .top-picks section{
    font-size: .9em;
  }


// hvad er orangevin?
  .hvad-er-orange-vin{
    height: 70vh;
  }



  // // inspiration SECTION
  // .inspiration-section{
  //   display: flex;
  //   flex-direction: column;
  // }

  /* Footer styling */
  .footer-nav ul li{
    display: inline;
    margin: 0 5px;
  }
  .footer-nav{
    padding-bottom: 1.5rem;
    border-bottom: 1px solid gray;
    width: 80%;
    margin: 1.5rem auto;
  }

  .footer-contact{
    flex-direction: row;
    max-width: 70%;
    margin: 0 auto;
  }


}

@media (min-width: 1024px) {


  /* Top navigation styling */
  .topnav a.icon{
    display: none;
  }
  .topnav #myLinks{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10rem;
    top: 7vh;
  }
  .topnav #myLinks a{
    padding: 0 10px;
  }
  .topnav #myLinks a:first-child{
    margin-left: auto;
  }
  .active{
    margin: 0 auto 0 30px;
  }
  .shopping-cart{
    left: auto;
    right: 2rem;
    top: 7vh;
  }

  // Main styling
  /* resizing background image */
  .header-section{
    background-size: 200%;
  }

  // top picks SECTION
  .top-picks{
    width: 85%;
  }
  .top-picks section{
    font-size: 1.1em;
  }
  .top-picks section img{
    height: 200px;
  }



  // .inspiration{
  //   // grid-template-columns: repeat(3, minmax(30%, 1fr));
  //   margin: 0 auto;
  //   min-height: 30vh;
  // }





}



@media (min-width: 1025px){
  .header-section{
    background-size: 120%;
    background-position: 50% 70%;
  }





}
