/* Color variables*/

// main colors
$amber: #F06520;
$amber-lighter: #f09060;

$primary-text: black;
$secondary-text: #696969;

/* background colors */
$button-hover: #d6d6d6;
$button-hover-2: rgba(82,82,82,0.6);

$primary-background: white;
$secondary-background: #ededed;
$tertiary-background: #404040;

/* border color */
$primary-border: #949494;


// variables for produkt side
$heaeder-background: #ffefe3;


// font families
$primary-header: 'Baloo Chettan 2', cursive;
$secondary-header: 'Merriweather', serif;

//effects
$box-shadow: 0 20px 25px -15px rgba(0,0,0,0.5);
